html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
@font-face {
  font-family: 'loki_colaregular';
  src: url('lokicola-webfont.woff2') format('woff2'),
       url('lokicola-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
:root {
  --primary: #c20000
  --accent: rgb(175, 175, 175);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: #c20000;
  overflow: hidden;
}

.parent {
  position: absolute;
  left: 9rem;
  right: 0;
  margin: auto;
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#swoosh {
  z-index: -1;
  position: absolute;
  left: -12%;
  top: 0;
  margin: auto;
  width: auto;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 3 / 2 / 6;
  background-color: rgb(175, 175, 175);
  border-radius: 5rem;
}
.div2 {
  grid-area: 3 / 2 / 4 / 3;
}

.sodaBtn {
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  width: 100%;
}

.div3 {
  grid-area: 3 / 4 / 4 / 5;
}
.div4 {
  grid-area: 3 / 6 / 4 / 7;
}
.div5 {
  grid-area: 4 / 1 / 5 / 2;
}
.div6 {
  grid-area: 4 / 3 / 5 / 4;
}
.div7 {
  grid-area: 4 / 5 / 5 / 6;
}
.div8 {
  grid-area: 4 / 7 / 5 / 8;
}
.div9 {
  grid-area: 5 / 2 / 6 / 3;
}
.div10 {
  grid-area: 5 / 4 / 6 / 5;
}
.div11 {
  grid-area: 5 / 6 / 6 / 7;
}
.div12 {
  grid-area: 7 / 3 / 8 / 6;
  
}
.button {
  /* clip-path: circle(60% at 50% 50%); */
  border: none;
  border-radius: 10rem;
  background: linear-gradient(225deg, #cacaca, #f0f0f0);
  /* box-shadow:  -20px 20px 60px #bebebe,
               20px -20px 60px #ffffff; */
  
}
.sodas {
  height: 125rem;
}

.button:hover {
  border: solid;
  border-color: rgba(255, 255, 255, 0.164);
  border-width: 0.2rem;
  box-shadow: 0px 0px 12px rgb(253, 253, 253)
}
.button{
  transition: 0.6s;
 
}

.button:focus{
  transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
  transition: 0.3s ease-in-out;
}

.div1 p{
  font-size: 50px;
  text-align: center;
  font-family: 'loki_colaregular';
}
#push:focus {
  box-shadow:  -20px 20px 60px #bebebe,
  20px -20px 60px #ffffff;
  transform: scaleX(1.3) scaleY(1.3) scaleZ(1.3);
  font-size: 50px;
  text-align: center;
  font-family: 'loki_colaregular';
}
.div12 p{
  font-size: 75px;
  text-align: center;
  font-family: 'loki_colaregular';
  transition: .6s;
}


#sodaPop{
  position: absolute;
  width: 200vw;
  height: 200vh;
background-color: brown;
clip-path: polygon(0% 11%, 3% 9%, 7% 9%, 10% 11%, 14% 13%, 17% 14%, 21% 13%, 25% 12%, 28% 10%, 32% 9%, 36% 10%, 40% 10%, 43% 12%, 46% 14%, 50% 14%, 53% 13%, 57% 10%, 60% 9%, 64% 10%, 67% 12%, 72% 11%, 75% 9%, 80% 8%, 83% 9%, 87% 11%, 90% 13%, 95% 14%, 98% 11%, 100% 10%, 100% 100%, 0 100%);
  animation: sodaFill 7s;
  animation-fill-mode: both;
  overflow: hidden;
}

@keyframes sodaFill {
from {
 top: 100vh; 
 left: -50vw;
}
to{top: -100vh;
left: 0vw}
}

#bubbles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
 height: 100vh;
 width: 300vw;
 display: flex;
 justify-content: space-around;
 overflow: hidden;
background-color: transparent;
}
.bubble {
  align-self: flex-end;
  width: 10rem;
  height: 10rem;
  clip-path: circle(50% at 50% 50%);
  background-color: white;
  animation: bubbleRise 4s linear infinite;
  border: none;
}

.bubble:nth-child(2){
  height: 12rem;
  width: 12rem;

  animation-duration: 3s;
filter: blur(3px) opacity(80%);
}
.bubble:nth-child(3){
  height: 9rem;
  width: 9rem;

  animation-duration: 7s;
filter: blur(1px) opacity(80%);
}
.bubble:nth-child(4){
  height: 13rem;
  width: 13rem;

  animation-duration: 5s;
filter: blur(2px) opacity(80%);
}
.bubble:nth-child(5){
  height: 7rem;
  width: 7rem;

  animation-duration: 4s;
filter: blur(3px);
}
.bubble:nth-child(6){
  height: 9rem;
  width: 9rem;

  animation-duration: 8s;
filter: blur(0px) opacity(80%);
}
.bubble:nth-child(7){
  height: 11rem;
  width: 11rem;

  animation-duration: 4s;
filter: blur(0px) opacity(100%);
}
.bubble:nth-child(8){
  height: 10rem;
  width: 10rem;
  animation-duration: 6s;
filter: blur(2px) opacity(90%);

}
.bubble:nth-child(9){
  height: 10rem;
  width: 10rem;
  animation-duration: 3.5s;
filter: blur(3px) opacity(90%);
}
.bubble:nth-child(10){
  height: 9rem;
  width: 9rem;
  animation-duration: 7s;
filter: blur(1px) opacity(80%);
}
.bubble:nth-child(11){
  height: 12rem;
  width: 12rem;
  animation-duration: 5.2s;
filter: blur(2px) opacity(90%);
}
.bubble:nth-child(12){
  height: 7rem;
  width: 7rem;

  animation-duration: 4s;
filter: blur(3px);
}
.bubble:nth-child(13){
  height: 9rem;
  width: 9rem;

  animation-duration: 8s;
filter: blur(0px) opacity(100%);
}
.bubble:nth-child(14){
  height: 11rem;
  width: 11rem;

  animation-duration: 4s;
filter: blur(0px) opacity(80%);
}
.bubble:nth-child(15){
  height: 10rem;
  width: 10rem;
  animation-duration: 6s;
filter: blur(2px) opacity(90%);
}






@keyframes bubbleRise {
  from {
    background-color: white;
    transform: translateY(150%) translateX(-30vh);
  }
  to {
    background-color: white;
    transform: translateY(-100vh) translateX(0);
  }
}

