html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --primary: #c20000
  --accent: rgb(175, 175, 175);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: #c20000;
}

.parent {
  position: absolute;
  left: 9rem;
  right: 0;
  margin: auto;
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#swoosh {
  z-index: -1;
  position: absolute;
  left: -12%;
  top: 0;
  margin: auto;
  width: auto;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 3 / 2 / 6;
  background-color: rgb(175, 175, 175);
  border-radius: 5rem;
}
.div2 {
  grid-area: 3 / 2 / 4 / 3;
}
.div3 {
  grid-area: 3 / 4 / 4 / 5;
}
.div4 {
  grid-area: 3 / 6 / 4 / 7;
}
.div5 {
  grid-area: 4 / 1 / 5 / 2;
}
.div6 {
  grid-area: 4 / 3 / 5 / 4;
}
.div7 {
  grid-area: 4 / 5 / 5 / 6;
}
.div8 {
  grid-area: 4 / 7 / 5 / 8;
}
.div9 {
  grid-area: 5 / 2 / 6 / 3;
}
.div10 {
  grid-area: 5 / 4 / 6 / 5;
}
.div11 {
  grid-area: 5 / 6 / 6 / 7;
}
.div12 {
  grid-area: 7 / 4 / 8 / 5;
}
.button {
  clip-path: circle(50% at 50% 50%);
  background-color: rgb(189, 189, 189);
}
.sodas {
  height: 125rem;
}

#circles:hover {
  transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
  transition: 0.5s ease-in-out;
}
#circles{
  transition: 1s;
}


